#parcelShopsPopup {
    display: none;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 25px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 1300px) {
    #parcelShopsPopup {
        max-width: 1000px;
        max-height: 700px;
    }
}

@media (min-width: 1300px) {
    #parcelShopsPopup {
        max-width: 1200px;
        max-height: 700px;
    }
}

#parcelShopsPopupBar {
    width: 100%;
    height: 150px;
}

#parcelShopsPopupBar table {
    table-layout: fixed;
    width: 100%;
}

#parcelShopsContainer, #parcelShopsContainer * {
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    color: #636363;
    font-size: 14px !important;
    line-height: 1.5 !important;
}

#parcelShopsMapContainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 849px) {
    #parcelShopsMapContainer {
        display: none !important;
    }

    #parcelShopsList {
        width: 100%;
        height: calc(100% - 150px);
    }
}

@media (min-width: 850px) {
    #parcelShopsPopup {
        min-width: 800px;
    }

    #parcelShopsMapContainer {
        width: calc(100% - 380px);
        float: left;
        padding-left: 20px;
    }

    #parcelShopsList {
        width: 380px;
        height: 500px;
        padding-right: 20px;
    }

    #parcelShopsSearchBarContainer {
        margin-left: 20px;
    }
}

#parcelShopsMap {
    height: 500px;
}

#parcelShopsList {
    float: left;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#closeParcelshopPopup {
    float: right;
    background-image: url('../../images/wuunder/close.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 20px;
    height: 20px;
}

.parcelshopItem {
    width: 100%;
    min-height: 80px;
    background: #f3f3f3;
    padding: 5px 25px;
    cursor: pointer;
    margin-left: 6px;
}

.parcelshopItem.selected {
    border: 6px #94d600;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin-left: 0;
    padding: 5px 25px 5px 19px;
    width: calc(100% + 5px);
}

.parcelshopItem .pick-parcelshop-btn {
    width: 50px;
    height: 40px;
    border: 1px solid #858585;
    border-radius: 5px;
    display: block;
    float: right;
    background-color: #8fd600;
    text-align: center;
    line-height: 40px;
    color: white !important;
    font-size: 20px;
}

.parcelshopItem:hover {
    background-color: #e9e9e9;
}

.parcelshop-marker-icon, .parcelshop-marker-icon-u {
    background-image: url('../../images/wuunder/green_marker.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 0 10px 0 0;
    float: left;
}

.parcelshop-marker-icon-dpd {
    background-image: url('../../images/wuunder/DPD-locator.png');
}

.parcelshop-marker-icon-dhl {
    background-image: url('../../images/wuunder/DHL-locator.png');
}

.parcelshop-marker-icon-gls {
    background-image: url('../../images/wuunder/GLS-locator.png');
}

.parcelshop-marker-icon-postnl {
    background-image: url('../../images/wuunder/POSTNL-locator.png');
}

.parcelshop-marker-icon-u {
    background-image: url('../../images/wuunder/position-sender.png');
    height: 50px;
    width: 30px;
    background-size: 100%;
}

.parcelshop-item-line {
    display: block;
    width: 100%;
}

.parcelshop-item-title {
    float: left;
    font-weight: 600;
}

.parcelshop_window_title {
    font-weight: 600;
}

.parcelshop-item-address {
    display: block;
}

.parcelshop-item-distance {
    display: block;
}

.parcelshopItem .parcelshop-item-details {
    display: none;
}

.parcelshopItem.selected .parcelshop-item-details {
    margin: 10px 0 0 40px;
    display: block;
}

#parcelShopOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.8);
}

.maps_info_window {
    border: 2px solid #aec941;
    border-radius: 5px;
}

#parcelShopsSelected {
    padding-bottom: 10px;
}

#parcelShopsSelectedContainer {
    background-color: #ececec;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.wuunder-logo-small {
    width: 20px;
    height: 20px;
    background-image: url('../../images/wuunder/wuunder_logo.png');
    background-size: cover;
    display: inline-block;
}

@media (max-width: 849px) {
    .carrier-filter {
        display: none;
    }
}

@media (min-width: 850px) {
    .carrier-filter {
        position: absolute;
        top: 105px;
        right: 10px;
        z-index: 99999;
    }
}


.carrier-filter input[type=checkbox] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #94d600;
    border-radius: 4px;
    position: relative;
}

.carrier-filter input[type=checkbox]:checked:after {
    content: "\2714";
    /* this is a checkmark symbol */
    color: white;
    font-size: 10px;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 3px;
}

.carrier-filter input[type=checkbox]:focus {
    outline: 0;
}

.carrier-filter img {
    height: 25px;
    display: inline;
    padding-right: 20px;
}

#parcelShopsTitleLogo {
    width: 60px;
    height: 60px;
    background-image: url('../../images/wuunder/bring-to-parcelshop.png');
    background-size: cover;
    /*display: inline-block;*/
    float: left;
    margin: 10px;
}

#parcelShopsTitleLogoChatbox {
    position: relative;
    background: #94d600;
    border-radius: .5em;
    border-bottom-left-radius: 0;
    float: left;
    padding: 10px;
    margin-top: 28px;
    color: white;
}

#parcelShopsTitleLogoChatbox:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 14px 23px;
    border-color: transparent transparent #94d600 transparent;
    margin-left: -23px;
}

#parcelShopsSearchBar {
    border: 1px solid #858585;
    max-width: calc(100% - 100px);
    float: left;
}

#parcelShopsSearchBarContainer {
    width: 100%;
    height: 50px;
    display: inline-block;
    line-height: 29px;
    position: relative;
    float: left;
}

#parcelShopsSearchBarContainer:before {
    content: "";
    width: 50px;
    height: 40px;
    border: 1px solid #858585;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    display: block;
    float: left;
    background-image: url('../../images/wuunder/search.png');
    background-size: auto 60%;
    background-position: center;
    background-repeat: no-repeat;
}

#onestepValidationField {
    width: 0;
    height: 0;
    visibility: hidden;
}

#submitParcelShopsSearchBar {
    width: 50px;
    height: 40px;
    border: 1px solid #858585;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    display: block;
    float: left;
    background-color: #8fd600;
    text-align: center;
    line-height: 40px !important;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#parcelShopsSearchBarContainer input {
    height: 40px;
}

/*** popup Loader ***/

#parcelShopsMapLoader {
    height: 400px;
    width: 100%;
    display: none;
}

#parcelShopOverlayLoader {
    color: #cacaca;
    font-size: 20px;
    margin: auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}